@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

body{
    background-color: #5f2c82;
}

img{
    width: 10vw;
    height: 20vw;
}

section{
    display: block;
    height: 50vh;
    width: 50vw;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: -5;
}

section > input{
    padding: 10px;
}